<div class="jumbotron">
  <h1 class="display-4">Hello <%= @member.first_name%> </h1>
  <p><%= @member.email%> | <%= @member.phone%> | <%= @member.twitter%></p>
  <hr class="my-4">
  <%= link_to "Edit this member", edit_member_path(@member), class:"btn btn-secondary" %> |
  <%= link_to "Back to members", members_path, class:"btn btn-secondary" %>

  <br></br>
  <%= button_to "Destroy this member", @member, method: :delete %>

</div>
